# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# SQLite
*.db
*.db-journal

# Temporary / Large Uploads
*.pdf
DOC-*

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.idea/
*.swp

